@import "tailwindcss";

@theme {
  --color-primary: #f1cb00;
  --color-secondary: #121212;
  --color-apgYellow: #f1cb00;
  --color-apgCream: #fffadf;
  --color-apgRed: #ff6e6e;
  --color-apgLightPurple: #f1eaff;
  --color-apgLightYellow: #fffadf;
  --color-apgTurqoise: #19cfdc;
  --color-apgGrey: #f3f3f3;
  --color-grey: #f4f4f4;
  --color-greyText: #121212;
  --color-heroText: #4e4e4e;
  --color-placeholderText: #e0e0e0;
  --color-secondaryLight: #e9feff;
  --color-borderGrey: #dedede;
}

body {
  @apply text-greyText;
}

.btn {
  @apply flex items-center justify-center rounded-full;
}
.pryBtn {
  @apply bg-primary text-black transition-colors hover:bg-secondary hover:text-white;
}

.secBtn {
  @apply text-white bg-secondary transition-colors hover:bg-white hover:text-secondary;
}

.altBtn {
  @apply hover:text-white hover:bg-secondary transition-colors bg-white text-secondary;
}

.btnSmall {
  @apply py-3 text-base font-semibold tracking-tighter;
}

.btnBig {
  @apply py-7 text-[18px] font-medium tracking-tighter;
}
@utility container {
  margin-inline: auto;
  padding-inline: 16px;
  @variant md {
    padding-inline: 24px;
  }
  @variant lg {
    padding-inline: 24px;
  }
  @variant xl {
    padding-inline: 20px;
  }
  @variant 2xl {
    padding-inline: 40px;
  }
}
h2 {
  @apply text-2xl md:text-4xl lg:text-5xl font-bold  tracking-tighter lg:tracking-[-2.88px];
}

h1 {
  @apply text-3xl md:text-5xl lg:text-6xl  xl:text-[64px] font-bold tracking-tighter leading-[130%] lg:leading-[100%];
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cardWidth {
  @apply px-8
  sm:pl-[calc((100vw-640px)/2+1rem)]
  md:pl-[calc((100vw-768px)/2+24px)]
  lg:pl-[calc((100vw-1024px)/2+24px)]
  xl:pl-[calc((100vw-1280px)/2+20px)]
  2xl:pl-[calc((100vw-1536px)/2+2.5rem)] lg:pr-40 md:pr-40 sm:max-w-full container;
}

.input {
  @apply w-full border border-gray-300 rounded-xl px-4 py-3 outline-none focus:ring-2 focus:ring-yellow-400;
}
